* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cormorant Garamond', serif;
  overflow: auto;
}

hr {
  border: none;
  color: #000;
  background-color: #000;
  height: 1px;
}

.header {
  padding-top: 30px;
  background-color: rgba(248, 244, 241);
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.header-logo {
  text-align: center;
  margin-bottom: 15px;
}

.header-flex {
  display: flex;
  align-items: center;
  font-family: 'Raleway', sans-serif;
}

.header-nav {
  margin: 0 auto;
}

.menu {
  display: flex;
  margin: 0 auto;
}

.menu-button {
  display: none;
}

.menu-close {
  display: none;
}

.menu .header-menu__item .active {
  color: #bda6c1;
}

.header-menu__item {
  list-style-type: none;
  margin: 10px;
}

.header-menu__link {
  text-decoration: none;
  color: #000000;
  font-size: 15px;
}

.header-menu__link:hover {
  color: #bda6c1;
  transition: color 0.3s ease;
}

/* Services */
.services {
  font-family: serif;
  background-color: rgba(248, 244, 241);
  padding-top: 60px;
}

.services-container {
  max-width: 980px;
  min-width: auto;
  margin: 0 auto;
  padding: 20px;
}

.service-content {
  display: flex;
  justify-content: space-between;
}

.service {
  max-width: 290px;
  border: 1px solid rgba(48, 29, 16, 0.2);
}

.service img {
  width: 100%;
  cursor: pointer;
}

.service img:hover {
  transition: filter 0.5s linear;
  filter: opacity(0.7);
}

.services-title {
  font-size: 32px;
  color: #301D10;
  text-align: center;
  margin-bottom: 50px;
}

.service-footer {
  width: 80%;
  margin: 0 auto;
  font-size: 24px;
  color: 301D10;
}

.service-text {
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(48, 29, 16, 0.2);
  ;
}

.service-hour {
  font-size: 16px;
  margin-bottom: 15px;
}

.service-price {
  font-size: 16px;
  margin-bottom: 15px;
}

.service-btn {
  color: rgb(198 201 201);
  background-color: rgb(163, 74, 33);
  border-width: 0px;
  padding: 8px 16px;
  margin-bottom: 15px;
  font-size: 16px;
  cursor: pointer;
  font-family: serif;
}

.service-btn:hover {
  opacity: 0.8;
  transition: all 0.3s ease;
}

/* Footer */
.footer {
  background-color: rgba(248, 244, 241);
  padding: 100px 0;
}

.footer-container {
  max-width: 980px;
  margin: 0 auto;
}

.footer-email {
  font-family: Arial, Helvetica, sans-serif;
  color: #301D10;
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
}

.footer-vk-link {
  display: block;
  text-align: center;
}


@media (max-width: 1155px) {
  .bg-tree {
    height: 457px;
  }
  .bg-tree-img {
    width: 100%;
    height: 457px;
  }
}

@media (max-width: 980px) {
  .container {
    max-width: 700px;
  }
  .service {
    margin: 5px;
  }
}

@media (max-width: 760px) {
  .service-content {
    display: block;
  }
  .service {
    margin: 0 auto;
  }
}

@media (max-width: 740px) {
  .container {
    max-width: 500px;
  }
  .service-content {
    display: block;
  }
  .service {
    margin-top: 20px;
  }
}

@media (max-width: 640px) {
  .bg-tree {
    height: 300px;
  }
  .bg-tree-img {
    width: 100%;
    height: 300px;
  }
}

@media (max-width: 550px) {
  .header-flex {
    display: block;
  }
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: rgba(248, 244, 241);
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.4s;
    padding-top: 80px;
  }
  .menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    color: #000;
    background-color: rgba(248, 244, 241);
    font-size: 30px;
    cursor: pointer;
  }
  .menu-close {
    position: fixed;
    right: 25px;
    top: 25px;
    display: flex;
    align-items: center;
    z-index: 10;
    background-color: rgba(248, 244, 241);
    border: none;
    font-size: 50px;
    cursor: pointer;
    transform: translateX(200%);
    transition: transform 0.4s;
  }
  .is-active {
    transform: translateX(0);
  }
  .no-scroll {
    overflow: hidden;
  }
  .header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
  }
  .header-logo img {
    display: block;
    width: 45px;
    height: 49px;
  }
  .header-vk__link {
    margin: 5px;
  }
}

@media (max-width: 530px) {
  .container {
    max-width: 450px;
  }
}

@media (max-width: 500px) {
  .service-btn {
    width: 100%;
    padding: 10px 16px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 400px;
  }
}

@media (max-width: 450px) {
  .bg-tree {
    height: 200px;
  }
  .bg-tree-img {
    width: 100%;
    height: 200px;
  }
  .service-btn {
    width: 100%;
    padding: 10px 16px;
  }
}

@media (max-width: 420px) {
  .container {
    max-width: 320px;
  }
  .services-container {
    width: calc(100% - 0px - 0px);
  }
}

@media (max-width: 350px) {
  .container {
    max-width: 280px;
  }
  .services-container {
    width: calc(100% - 0px - 0px);
  }
}